.DS_Store

.gradle
.kotlin
.idea

build
.cxx
.externalNativeBuild
obj

*.apk
*.iml

/builds

/captures
/local.properties
/PROJECT_GUIDE_CN.md
keystore.properties
signing.properties
*.jks
*.keystore
*.p12
*.pfx

libc++_shared.so
